{
  "timestamp": 1448532965156,
  "type": "username",
  "version": 0,
  "username": {
    "resourceType": "UserName",
    "username": "{{ fhir_superuser_name }}",
    "user": {
      "reference": "User/54321",
      "display": "Administrator"
    }
  }
}