[Unit]
Description = Couchbase Server
Documentation = http://docs.couchbase.com
After = network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
SyslogIdentifier=couchbase
User=couchbase
Group=couchbase
PIDFile=/opt/couchbase/var/lib/couchbase/couchbase-server.pid
WorkingDirectory=/opt/couchbase/var/lib/couchbase
LimitNOFILE=65535
LimitCORE=infinity
LimitMEMLOCK=infinity
ExecStart=/opt/couchbase/bin/couchbase-server -- -noinput -detached > /opt/couchbase/var/lib/couchbase/logs/start.log 2>&1
ExecStop=/opt/couchbase/bin/couchbase-server -k

[Install]
WantedBy=multi-user.target